extends layout

block layout-content
  body          
    div(class="container-fluid")
      div#section1
        h1 Welcome to my Node App!
      div.sec section One
      div#section2.sec section two
      div#section3.sec section three
